<%- include('./layouts/header') %>

<h1 class="title">VSV Securities Assignment</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <h2>Introduction</h2>
    <p>
      I am a dedicated individual with strong skills in [your skills, e.g., coding, designing, problem-solving], complemented by hobbies like [your hobbies, e.g., reading, writing, and singing], which fuel my creativity and critical thinking. My strengths lie in time management, effective communication, leadership, and negotiation, enabling me to excel in team settings and deliver results under pressure. While I am committed to continuous growth, I am actively working on overcoming procrastination to enhance my productivity further. I thrive in dynamic environments where I can apply my abilities to solve challenges and contribute meaningfully.
    </p>

  </ol>
</div>

<%- include('./layouts/footer') %>
