<%- include('./layouts/header') %>

<h1 class="title">VSV Securities Assignment</h1>
<div class="tutorial-info">
  <ol class="tutorial-info">
    <h2>Introduction</h2>
    <p>
      Artificial Intelligence (AI) is reshaping the way we live and work. With its rapid advancements,
      AI technologies have permeated every industry, making them more efficient, reliable, and intelligent.
    </p>

  </ol>
</div>

<%- include('./layouts/footer') %>
